.footer{
    color: black;
    height: 230px;
    gap: 10%;
    display: flex;
    justify-content: center;
    border:0;
    margin:0;
    padding: 0;
    background-color: #f5d105; 
    font-weight: bold;
}

.barb-esquadrao{
    width: 300px;
    font-weight: bold;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
}

.separar-redes{
    width: 134px;
    display: flex;
    justify-content: space-between;
    
}

.texto-footer{
    font-size: 1rem;
}

@media (max-width: 1200px){
    .footer{   
    height: 60vh; 
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 5%;
    }
    .barb-esquadrao{
    width: 80vw;
}

}